

NET "clk" LOC = T9;
NET "enable" LOC = K14;
NET "sw1_n" LOC = P11;
NET "sw1_p" LOC = P12;
NET "sw2_n" LOC = P13;
NET "sw2_p" LOC = N14;
NET "sw3_n" LOC = P14;
NET "sw3_p" LOC = K12;


NET "clk" IOSTANDARD = LVCMOS33;
NET "enable" IOSTANDARD = LVCMOS33;
NET "sw1_n" IOSTANDARD = LVCMOS33;
NET "sw1_p" IOSTANDARD = LVCMOS33;
NET "sw2_n" IOSTANDARD = LVCMOS33;
NET "sw2_p" IOSTANDARD = LVCMOS33;
NET "sw3_n" IOSTANDARD = LVCMOS33;
NET "sw3_p" IOSTANDARD = LVCMOS33;
NET "clk" DRIVE = 12;


NET "sample_clk" LOC = N12;
NET "watchdog" LOC = L12;


NET "sample_clk" IOSTANDARD = LVCMOS33;
NET "watchdog" IOSTANDARD = LVCMOS33;


NET "sw3_n" DRIVE = 12;


NET "watchdog_in" LOC = K13;


NET "watchdog_in" IOSTANDARD = LVCMOS33;


NET "clk_select" LOC = J13;


NET "clk_select" IOSTANDARD = LVCMOS33;


NET "clk" SLEW = SLOW;
NET "sw2_n" SLEW = SLOW;


NET "D14" LOC = D14;
NET "E13" LOC = E13;
NET "E14" LOC = E14;
NET "F13" LOC = F13;
NET "F14" LOC = F14;
NET "G14" LOC = G14;
NET "N16" LOC = N16;
NET "P15" LOC = P15;
NET "P16" LOC = P16;
NET "R16" LOC = R16;


NET "D14" IOSTANDARD = LVCMOS33;
NET "E13" IOSTANDARD = LVCMOS33;
NET "E14" IOSTANDARD = LVCMOS33;
NET "F13" IOSTANDARD = LVCMOS33;
NET "F14" IOSTANDARD = LVCMOS33;
NET "G14" IOSTANDARD = LVCMOS33;
NET "N16" IOSTANDARD = LVCMOS33;
NET "P15" IOSTANDARD = LVCMOS33;
NET "P16" IOSTANDARD = LVCMOS33;
NET "R16" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "G13" LOC = G13;
NET "N15" LOC = N15;

# PlanAhead Generated IO constraints 

NET "G13" IOSTANDARD = LVCMOS33;
NET "N15" IOSTANDARD = LVCMOS33;
