//! **************************************************************************
// Written by: Map O.61xd on Wed Aug 31 13:13:54 2011
//! **************************************************************************

SCHEMATIC START;
COMP "F13" LOCATE = SITE "F13" LEVEL 1;
COMP "N16" LOCATE = SITE "N16" LEVEL 1;
COMP "P15" LOCATE = SITE "P15" LEVEL 1;
COMP "P16" LOCATE = SITE "P16" LEVEL 1;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "sample_clk" LOCATE = SITE "N12" LEVEL 1;
COMP "watchdog" LOCATE = SITE "L12" LEVEL 1;
COMP "sw1_n" LOCATE = SITE "P11" LEVEL 1;
COMP "sw1_p" LOCATE = SITE "P12" LEVEL 1;
COMP "sw2_n" LOCATE = SITE "P13" LEVEL 1;
COMP "sw2_p" LOCATE = SITE "N14" LEVEL 1;
COMP "sw3_n" LOCATE = SITE "P14" LEVEL 1;
COMP "sw3_p" LOCATE = SITE "K12" LEVEL 1;
COMP "clk_select" LOCATE = SITE "J13" LEVEL 1;
COMP "enable" LOCATE = SITE "K14" LEVEL 1;
COMP "watchdog_in" LOCATE = SITE "K13" LEVEL 1;
COMP "D14" LOCATE = SITE "D14" LEVEL 1;
COMP "E13" LOCATE = SITE "E13" LEVEL 1;
COMP "E14" LOCATE = SITE "E14" LEVEL 1;
COMP "F14" LOCATE = SITE "F14" LEVEL 1;
COMP "G13" LOCATE = SITE "G13" LEVEL 1;
COMP "G14" LOCATE = SITE "G14" LEVEL 1;
COMP "N15" LOCATE = SITE "N15" LEVEL 1;
COMP "R16" LOCATE = SITE "R16" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

